


@import "../../vars.css";


.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
}

.title {
  font-size: 4.5rem;
  padding-bottom: 2rem;
  font-family: var(--font-roboto);
  color: aliceblue;
  -webkit-background-clip: text;
}

.description {
  font-size: 2rem;
  font-family: var(--font-roboto);
  margin-bottom: 3.25rem;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  margin-bottom: .5rem;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.contactBtn:hover {
  background-color: var(--color-primary);
}

.image {
  z-index: 1;
  border-radius: 50%;
  width: 50%;
  animation: circle-animation 5s infinite linear;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
}


@keyframes circle-animation {
  0% { transform: translate(0, 0px) }
  25% { transform: translate(10px, 0px) }
  50% { transform: translate(10px, 10px) }
  75% { transform: translate(0, 10px) }
  100% { transform: translate(0, 0px) }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 109, 78, 0.7);
  filter: blur(70px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 175px;
  right: -35vw;
  border-radius: 764px;
  background: rgba(25, 109, 78, 0.6);
  filter: blur(70px);
  z-index: 0;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
